<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1084586974169-69loh9u0ohhs0c198ounvoh8rei5ih7j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1084586974169-69loh9u0ohhs0c198ounvoh8rei5ih7j</string>
	<key>API_KEY</key>
	<string>AIzaSyCauMFi_Q5uLcEEfxGyIhJ3DyQQOLgnpww</string>
	<key>GCM_SENDER_ID</key>
	<string>1084586974169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.malakoipechyva.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-7dec1</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-7dec1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084586974169:ios:5a4b0cba7a1e23ab6a17c8</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-7dec1.firebaseio.com</string>
</dict>
</plist>